fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
alembic
python-dotenv
redis
openai
qdrant-client 
tiktoken
langchain 
langchain-openai
sentence-transformers
groq
beautifulsoup4
requests-html
playwright
aiosmtplib
email-validator
apscheduler
scikit-learn
pandas
numpy 
joblib
